p {
    font-size: 18px;
    margin-bottom: 30px;
}

.image img {
    margin-top: 50px;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prof h3 {
    color: #e7b147;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.title {
    color: #525e75;
    text-decoration: underline;
    text-align: start;
}

.inforation span {
    margin-left: 50px;
}