/* Sadiqhasan's Styles */

/* course-content */

.course-container{
  min-height: 20.8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.course{
  min-height: 30vh;
  width: 100%;
  display: grid;
  flex-direction: column;
  place-content: center;
  margin: auto;
  align-items: center;
  background-image: linear-gradient(rgba(11, 18, 44, 0.562), rgb(0, 0, 0)), url(../src/courses/library-1.jpg );
  background-position: center;
  background-size: cover;
}
.course h1{
  color: white;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2.5px;
  font-size: xxx-large;
}
.course::after{
  content: '';
  width: 40%;
  height: 3px;
  text-align: center;
  background: var(--gold) ;
  display: block;
  margin: auto;
  transition: 0.5s ease;
}
.typing-margin{
  margin-top: 5%;
}

.typing-content{
  position: relative;
  height: 10vh;
  width: 100%;
  font-weight: 600;
  font-size: xx-large;
  z-index: 0;
  display: flex;
  justify-content: center;
  color: black;
  /* position: relative; */
}

.typing{
  position: relative ;
  margin-left: 15px;
  transition: 0.5 ease;
  color: var(--gold);
  animation-delay: 3s;
}
.typing::after{
  margin-top: 8.5px;
  content: '';
  position: relative;
  z-index: 0;
  width: 10px;
  height: 5vh;
  border-right: 3px solid black;
  animation: to-right 3s infinite;
}

@keyframes to-right{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

.col-50{
  width: 100vw;
}
.main{
  margin-bottom: 10%;
}
.course-h2{
  font-size: xx-large;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: calc(10%/2);
  padding-bottom: 10px;
  font-weight: 600;
}
.course-h2::after{
  content: '';
  position: relative;
  width: 20%;
  height: 2vh;
  border-bottom: 3px solid var(--gold);
  top: 20px;
}
.course-grid{
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2,50%);
  justify-content: left;
  box-sizing: border-box;
  grid-gap: 2rem;
}

.img{
  cursor: pointer;
  border-radius: 5px;
  height: 60%;
  width: 100%;
  /* visibility: visible; */
  object-fit: cover;
}
.comp-img-2{
  height: 53vh;
}
.year{
  padding: 2% 0% 0% 0%;
  position: relative;
  grid-column: 1;
  font-weight: 900;
  font-size: 12px;
}
.course-nm{
  position:relative;
  /* top: 15px; */
  padding: 0% 2% 0% 0%;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0px;
}
.course-des{
  position: relative;
  height: 7.5rem;
  font-weight: 500;
  padding: 1%;
  padding-left: 0;
}
.manage-img{
  cursor: pointer;
  padding: 1% 1% 1% 1%;
  height: 60%;
  border-radius: 11px;
  width: 100%;
  object-fit: cover;
}
.m-course-h2{
  margin-top: 10%;
}
.item-style{
  height: 43rem;
  color: var(--gray);
  border-radius: 8px;
  transition: 0.5s ease;
  user-select: none;
  padding: 2%;
  box-sizing: border-box;
}
.item-style img {
  border-radius: 5px;
  padding-left: 0;
}
.item-style{
  color: var(--gray);
  box-shadow: 10px 10px 25px 5px rgb(165, 165, 165);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.reg-btn{
  padding: 0.5rem 1.9rem;
  background: var(--gray);
  color: white;
  border: 2px solid var(--gray);
  border-radius: 6px;
  margin: 2%;
  margin-left: 0;
  transition: 0.5s ease-in;
  font-weight: 400;
}
.reg-btn:hover{
  position:relative;
  background: #3e4757;
}

.learn-act{
  position: relative;
  top: 30px;
  font-size: xx-large;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12% 0% 5% 0%;
  padding-top: 15px;
  font-weight: 600;
}

.learn-act::after{
  content: '';
  position: relative;
  height: 1vh;
  width: 15%;
  border-bottom: 3px solid var(--gold);
  top: 20px;
}

.learn-env{
  color: var(--gray);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 15%;
  /* border: 3px solid black; */
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.flex-item-1{
  padding: 10px;
}
.flex-item-2{
  padding: 10px;
}
.h4{
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.h4::after{
  content: '';
  /* position: relative; */
  height: 1vh;
  width: 30.7%;
  border-bottom: 3px solid var(--gray);
}

.env{
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .course-grid {
    grid-template-columns: repeat(1,100%);
    padding: 1%;
    gap: 0;
  }
  .typing-content{
    max-width: 95%;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    margin: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .typing {
    text-align: center;
  }
  .course-des {
    height: 8.5rem;
  }
  .item-style {
    margin-block-end: 5%;
  }
  .course-h2 {
    margin: 0% auto;
    padding: 0;
  }
  .course-heading {
    margin: 3% auto;
  }
  .course-h2::after {
    height: 0.1rem;
    width: 30%;
  }
}