/* Global */

:root {
  --gray: #525e75;
  --gold: #e7b147;
  --red: #ff4444;
}

* {
  margin: 0;
  padding: 0;
}

/* Admission Form */

.admission-form {
  padding: 40px 0;
  width: 70%;
  margin: 0 auto;
}

form {
  margin: 30px 0;
}

.admission-form .form-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section-heading {
  background: #525e7522;
  text-transform: uppercase;
  padding: 6px;
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 50px;
}

.admission-form label {
  font-size: 0.8rem;
  font-weight: 600;
}

.admission-form input {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 5px 0px;
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
}

.form-one-line-container {
  margin: 15px 0;
  display: flex;
}

.form-el-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 2.5px;
  margin: 0px 5px;
}

.form-el-container > .name-container {
  display: flex;
  justify-content: space-between;
}

.form-el-container > .name-container > input {
  width: 33%;
  margin: 5px 15px 0px 0px;
}

.form-el-container > .name-container > input:last-child {
  margin-right: 0;
}

.gender {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.gender input {
  margin-right: 5px;
}

.gender label {
  margin-right: 15px;
  font-weight: normal;
}

.enquiry-info select {
  height: 31.2px;
  width: 100%;
}

.enquiry-info label {
  margin-bottom: 5px;
}

.enquiry-info textarea {
  padding: 5px;
  font-size: 1rem;
  min-height: 150px;
}

.form-btn-container {
  text-align: center;
}

.form-btn-container .form-btn {
  width: 110px;
  margin: 30px 5px;
  font-weight: 500;
}

.form-btn-red {
  color: var(--red);
  border: 1px solid var(--red);
}

.form-btn-red:hover,
.form-btn-red:active {
  background-color: var(--red);
  color: white;
}

