/* Copnies Cards */

.courses {
    margin-top: 0px;
}

.sub-courses div {
    text-align: center;
    height: 150px;
    width: 25%;
    padding: 40px 20px;
    margin: 30px 0;
    box-shadow: 10px 11px 20px 6px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-courses div p {
    text-align: left;
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.sub-courses div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 200px;
    margin: auto;
}


/* Student Placement */

.placement {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
}

.placement img {
    margin-top: 10px;
}

.placement p {
    font-size: 20px;
}

.divideintwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1400px) {
    .divideintwo {
        flex-direction: column;
    }
    .placement {
        margin: 20px auto;
    }
}