/* rgb(82, 94, 117); */
/* DFD1B6 */

/* Global */

:root {
  --gray: #525e75;
  --gold: #e7b147;
}

*{
  margin: 0;
  padding: 0;
}

/* Popup */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popupdata {
  background-color: white;
  height: 470px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 10px 11px 20px 6px rgba(0, 0, 0, 0.21);
}

.popuph1 {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.popupdiv {
  display: flex;
  flex-direction: column;
}

.popupinput {
  width: 60%;
  height: 50px;
  margin: auto;
  border: none;
  border-bottom: 3px solid #525e75;
  font-size: 20px;
  outline: none;
}

.popupbut {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  height: 40px;
  background-color: #e7b147;
  color: white;
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
}

.popupbut:hover {
  background-color: #d1a242;
}

/* Header */

header {
  background-color: var(--gray);
  position: sticky;
  top: 0;
  right: 0;
}

.header-menu {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu img {
  height: 60px;
}

.header-menu .header-menu-items {
  display: inline-block;
  margin: 0;
  font-size: 0.9rem;
}

.header-menu .header-menu-items li {
  display: inline-block;
  margin-left: 20px;
}

.header-menu .header-menu-items li a {
  text-decoration: none;
  color: white;
  transition: 0.2s all;
}

.header-menu .header-menu-items li .active {
  border-bottom: 3px solid var(--gold);
  padding-bottom: 28px;
}

.header-menu .header-menu-items li a:hover {
  color: var(--gold);
}

/* .header-menu .header-menu-items .profile {
  font-weight: bold;
  color: var(--gold);
}

.header-menu .header-menu-items .profile:hover {
  text-decoration: underline;
} */

#profile {
  background: transparent;
  border: none;
}

.header-menu .header-menu-items #profile {
  font-weight: bold;
  color: var(--gold);
}

.header-menu .header-menu-items #profile:hover {
  text-decoration: underline;
}

/* Main Content */

main {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../src/college/left-garden.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  background-position: center;
  display: flex;
  align-items: center;
  user-select: none;
}

main .main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-title span {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  line-height: 1;
}

main .main-title .vp-text {
  font-size: 5rem;
}

/* Courses */

.courses-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 0;
}

.courses-title span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.courses-title .line {
  height: 3px;
  width: 100px;
  background-color: var(--gray);
}

.courses {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.sub-courses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.courses-card {
  width: 25%;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 10px 11px 20px 6px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
}

.courses-card img {
  height: 150px;
  width: 150px;
  margin: 0 0 30px 0;
}

.courses-card .courses-card-info h3 {
  color: var(--gray);
  font-weight: bold;
}

.courses-card .courses-card-info p {
  font-size: 0.8rem;
}

.courses-btn-container {
  text-align: center;
}

.courses-btn {
  margin: 30px 0;
  border: none;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  transition: 0.3s all;
  border-radius: 3px
}

.courses-btn:hover {
  background-color: var(--gray);
  color: white;
  cursor: pointer;
}

/* Principal Comment */

.comment {
  background-color: #525e7522;
  height: 350px;
  text-align: center;
}

.comment h1 {
  margin: auto;
  text-align: center;
  color: #525e75;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  width: 570px;
  font-size: 35px;
}

.comment img {
  margin: 15px;
}

.comment .comment-img {
  border-radius: 150px;
  margin: 15px;
}

.comment p {
  color: var(--gray);
  font-size: 15px;
  font-weight: 500px;
}

/* Mission & Vision */

.Vision > div,
.Mission > div {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Vision img {
  margin: 30px;
  border-radius: 15px 50px;
  margin-left: 100px;
}

.Vision h1,
.Mission h1 {
  margin: 30px;
  margin-top: 80px;
  margin-bottom: 0px;
  width: 400px;
  color: var(--gray);
  font-size: 35px;
}

.Vision p,
.Mission p {
  margin: 30px;
  width: 400px;
}

.Mission {
  background-color: #525e7522;
  width: 100%;
  margin-bottom: 20px;
}

.Mission img {
  margin: 30px;
  border-radius: 15px 50px 30px 5px;
  margin-right: 100px;
}

.Mission h1 {
  margin-top: 50px;
}

.mission-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} 
